* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea {
    font-family: inherit;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-bottom: 24px;
}


/* Task 1 */
#categories {
    width: 392px;
}

.item {
    padding: 16px;
    border-radius: 8px;
    background-color: #F6F6FE;
}

.item h2 {
    margin-bottom: 16px;

}

.item:not(:last-child) {
    margin-bottom: 24px;
}

.item li {
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 8px 16px;

}

.item li:not(:last-child) {
    margin-bottom: 8px;
}


/* Task 2 */
.gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.gallery-item {
    min-width: 360px;
    width: calc((100% - 48px) / 3);
}

.gallery-image {
    width: 100%;
}


/* Task 3 */
#name-input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 8px 16px;
    margin-bottom: 16px;
}

/* Task 4 */
.login-form {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #FFF;
    width: 408px;
    padding: 24px;
}

.login-form label:first-child {
    margin-bottom: 8px;
}

.login-form label:nth-last-child(2) {
    margin-bottom: 16px;
}

.login-form input {
    outline: none;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    margin-top: 8px;
}

.login-form input:hover {
    border: 1px solid #000;
}

.login-form button {
    width: 86px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 8px;
    background: #4E75FF;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.login-form button:hover {
    background: #6C8CFF;
}

/* Task 5 */
.widget {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 100px 88px;
    border-radius: 8px;
    background: #FFF;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.widget p {
    margin: 0 auto;
}

.change-color {
    width: 148px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4E75FF;
    padding: 8px 16px;
}

.change-color:hover {
    background: #6C8CFF;
}


/* Task 6 */
#controls {
    width: 486px;
    display: flex;
    padding: 32px;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: #F6F6FE;
    margin-bottom: 16px;
}

#controls input {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #808080;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    outline: none;
}

#controls button {
    width: 120px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
}

#controls button:nth-child(2) {
    background: #4E75FF;
}

#controls button:nth-child(2):hover {
    background: #6C8CFF;
}

#controls button:last-child {
    background: #FF4E4E;
}

#controls button:last-child:hover {
    background: #FF7070;
}

#boxes {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: #F6F6FE;
    width: 486px;
    padding: 32px;
}