* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

.categories-list {
  width: 440px;
  height: 888px;
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
}

.categories-item {
  width: 392px;
  border-radius: 8px;
  background-color: #f6f6fe;
  padding: 16px;
  margin-bottom: 24px;
}

.categories-elements-title {
  color: #2e2f42;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.categories-elements-list {
  padding: 0;
}

.categories-elements-list :not(:last-child) {
  margin-bottom: 8px;
}

.categories-elements-item {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.04em;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
}

.gallery {
  width: 1440px;
  height: 848px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding: 100px 156px;
  background-color: #fff;
  margin: 0 auto;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 360px;
  height: 300px;
}

.greetings {
  width: 408px;
  height: 136px;
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
}

.greetings-input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 16px;
}

.greetings::placeholder {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.greetings-title {
  color: #2e2f42;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.login-form {
  width: 408px;
  height: 256px;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
}

.login-form-label {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.login-form-input {
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 16px;
  outline: none;
}

.login-form-input::placeholder {
  color: #808080;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.login-form-input:hover {
  border: 1px solid #000;
}

.login-form-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 86px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
}

.login-form-btn:hover {
  background-color: #6c8cff;
}

.widget {
  width: 345px;
  height: 280px;
  padding: 100px 88px;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

.widget-text {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.04em;
  margin: 0;
  margin-bottom: 16px;
}

.change-color {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 148px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
}

.change-color:hover {
  background-color: #6c8cff;
}

.boxes-wrap {
  width: 534px;
  min-height: 328px;
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
}

.buttons {
  display: flex;
  width: 486px;
  height: 104px;
  border-radius: 8px;
  background-color: #f6f6fe;
  margin-bottom: 16px;
  padding: 32px;
}

.buttons-input {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #808080;
  outline: none;
  margin-right: 16px;
  background-color: transparent;
  padding: 8px 16px;
  text-align: center;
}

.buttons-input::placeholder {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.04em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.create-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  margin-right: 16px;
}

.create-btn:hover {
  background-color: #6c8cff;
}

.destroy-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #ff4e4e;
}

.destroy-btn:hover {
  background-color: #ff7070;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px;
  width: 486px;
  min-height: 160px;
  border-radius: 8px;
  background-color: #f6f6fe;
}
